.order__item {
    padding: 10px 0;
    margin: 20px 0;
    outline: 1px solid #fff;
}

.order__item-group {
    width: 100%;
}

.order__item-image {
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 3px;
}

.order__item-name {
    font-size: 24px;
    font-weight: bold;
    color: #FF0000;
}

.order__item-amount-group {
    font-size: 22px;
}

.order__form-item {
    margin: 0 0 40px 0;
}

.order__option {
    position: relative;
}

.order__express-delivery-option {
    margin: 0;
}

.order__additionally {
    padding: 0;
}

.additionally-modal__text {
    padding: 0 10px 0 0;
    font-size: 18px;
}

.additionally-modal__value {
    font-size: 22px;
}

.order-modal-food-provider__text {
    padding: 0 10px 0 0;
    font-size: 18px;
}

.order-modal-food-provider__value {
    font-size: 22px;
}

.order__delivery {
    margin: 5px 0 0 0;
}

.delivery-modal__text {
    padding: 0 10px 0 0;
    font-size: 18px;
}

.delivery-modal__value {
    font-size: 22px;
}

.advantages {
    position: relative;
}

.adv_container,
.choice__body {
    padding: 120px 0;
}

.adv_header {
    padding: 0 100px 15px 0;
    margin: 0 0 50px 0;
}


.adv_photo {
    width: 100%;
    min-height: 300px;
    margin: 0 0 30px 0;
    background-color: #676a6e;
    border-radius: 50%;
    box-shadow: 10px 10px 24px -9px rgba(0, 0, 0, 0.75);
}

.adv_img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.2s;

}

.adv_subtext {
    flex-grow: 1;
    font-weight: bold !important;
    color: #fff;
}

.adv_text {
    font-size: 22px !important;
    color: #FF0000;
    letter-spacing: 1px;
}

.choice__title {
    padding: 0;
    margin: 0 0 50px 0;
}

.choice__form {
    min-height: 300px;
    background-color: #654321;
    box-shadow: 10px 10px 24px -9px rgba(0, 0, 0, 0.75);
}

.choice__list {
    padding: 15px;
}

.choice__subtitle {
    flex-grow: 1;
    font-size: 24px;
    font-weight: bold;
    color: #171a1f;
    letter-spacing: 1px;
}

.main-table-btn {
    width: 100%;
    padding: 15px;
}

.main-table-btn:hover {
    color: #fff;
}

.main-table-btn:active {
    box-shadow: none;
}

.main-switching {
    width: 100%;
}

.main-switching__list {
    margin: 30px 0 50px 0;
}

.main-switching__link {
    padding: 10px 15px;
}

.order-sheet {
    position: relative;
}

.order-sheet__item {
    margin: 15px 0;
}

.item__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    outline: 1px solid #FF0000;
}

.order-sheet__image-item {
    width: 100%;
    height: 350px;
    margin: 0 auto;
}

.order-sheet__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.order-sheet__bottom {
    flex-grow: 1;
    padding: 15px;
}

.order-sheet__subtitle {
    flex-grow: 1;
    font-size: 28px;
    color: #fff;
}

.order-sheet__groop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    outline: 1px solid #FF0000;
}

.order-sheet__text {
    font-size: 22px;
    color: #FF0000;
}

.order-sheet__price {
    font-size: 38px;
}

.order-sheet__price-value {
    color: #a13e37;
}

.order-sheet__price-text {
    color: #a13e37;
}

.product {
    margin: 15px 0;
}

.product__btn {
    width: 10%;
    height: 100%;
    padding: 0;
    font-size: 36px;
    color: #FF0000;
    background-color: #fff;
    border: none;
    outline: none;
}

.product__btn:active {
    background-color: transparent;
}

.product__amount {
    width: 60%;
    padding: 1px;
    font-size: 32px;
    font-weight: bold;
    color: #1b0707;
    text-align: center;
    background-color: #654321;
    border: none;
    outline: none;
}

.options__item {
    margin: 15px 0;
}

.booking {
    border: 1px solid #a13e37;
}

.booking__body {
    padding: 15px;
}

.booking__text {
    font-size: 22px;
    color: #fff;
}

.booking__value {
    font-size: 38px;
    color: #008000;
}

.booking__btn {
    padding: 5px;
    margin: 10px 0 0 0;
    font-size: 22px;
    color: #fff;
    background-color: #008000;
}

@media (max-width: 992px) {
    .page-header__list {
        padding: 0 0 0 8px;
    }

    .adv_img {
        height: auto;
    }

    .adv_header {
        padding: 0 30px 15px 0;
    }
}